<button class="up"><img src="<%== steal.config().root.add('mj/ui/numeric/images/UpArrow-9x5.png') %>" /></button>
<button class="down"><img src="<%== steal.config().root.add('mj/ui/numeric/images/DnArrow-9x5.png') %>" /></button>